@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './responsive.scss';

@font-face {
    font-family: Savoye;
    src: url('../assets/Savoye.otf');
}
body {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}

#half-rounded-button {
    border-radius: 100%;
}

.left-line-width {
    min-width: 5rem;
    width: 5rem;
    height: auto;
}

#owner_bg_title {
    letter-spacing: 5rem;
    right: -12rem;
}

#kenter_name_title {
    margin-top: -0.5rem;
}

#stanton_name_title {
    margin-top: -2rem;
}

#madsen_name_title {
    margin-top: -6rem;
}

.bgtext:after {
    content: "LANDSCAPE DESIGN INSTALLATION  MAINTENANCE";
    position: absolute;
    color: #CEDAD8;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family:Raleway ;
    font-weight: 900;
   font-size: 160px;
   text-align: center;
   line-height: 0.9em;
   opacity: 0.8;
   word-wrap:break-word;
   max-width: 100%;
   @include for-size(tablet-landscape) {
    font-size: 120px;
    line-height: 1.2em;
   }
   @include for-size(tablet-portrait) {
    font-size: 60px;
    line-height: 1.2em;
   }
}

#blue_box_wrapper {
    margin-top: -6.5rem;
    // min-height: 1050px;
}

.center_with_transform {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#this_year_titles {
    margin-left: -8rem;
    margin-top: -0.5rem;
}

#how_it_works_title_wrapper {
    margin-top: -2rem;
    @include for-size(tablet-portrait) {
        padding-bottom: 1rem;
    }
}

#how_it_works_title {
    font-size: 12vw;
}

#looking_forward_title_wrapper {
    margin-top: -3rem;
}

#header_poetry_title {
    font-size: 7rem;
    @include for-size(big-desktop) {
        font-size: 8rem;
    }
    @include for-size(mid-desktop) {
        font-size: 5.5rem;
    }
    @include for-size(tablet-landscape) {
        font-size: 4.2rem;
    }
}

#header_wrapper {
    @include for-size(tablet-landscape) {
        flex-direction: row-reverse;
    }
    @include for-size(tablet-portrait) {
        flex-direction: column;
    }
}

#header_house_container {
    @include for-size(tablet-landscape) {
        border-right: 0;
        border-left: 1px solid black;
        padding-left: 1rem;
    }
    @include for-size(tablet-portrait) {
        border-left: 0;
        width: 100%;
    }
}

#header_titles_container {
    @include for-size(tablet-landscape) {
        padding-left: 1rem;
    }
    @include for-size(tablet-portrait) {
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

#header_assembly_title {
    @include for-size(tablet-landscape) {
        font-size: 5.5rem;
    }
}

#owners_paragraphs_wrapper {
    @include for-size(mid-desktop) {
        padding-left: 4rem;
    }
    @include for-size(tablet-landscape) {
        flex-direction: column;
    }
}

#owners_pairing_paragraph_wrapper {
    @include for-size(mid-desktop) {
        padding-left: 0rem;
    }
    @include for-size(tablet-landscape) {
        padding-top: 2rem;
    }
}

#owners_images_content_wrapper {
    @include for-size(tablet-landscape) {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top:10rem;
        flex-direction: column;
    }
}

#owners_paragraphs_wrapper {
    @include for-size(tablet-landscape) {
        padding-left: 2rem;
    }
    div {
        @include for-size(tablet-landscape) {
            padding-left: 0rem;
            width: 100%;
        }
    }
}

#arielKenter_img {
    min-width: 290px;
    height: 303px;
    @include for-size(tablet-landscape) {
        min-width: 200px;
        height: 213px;
    }
}

#ryanStanton_content_wrapper {
    @include for-size(tablet-landscape) {
       width: 100%;
    }
}

#ryanStanton_images_container {
    @include for-size(tablet-landscape) {
        float: right;
        padding-top: 10rem;
     }
}

#ryanStanton_img {
    min-width: 220px;
    height: 350px;
    @include for-size(tablet-landscape) {
        min-width: 120px;
        height: 250px;
    }
}

#rhielMedsen_img {
    @include for-size(tablet-landscape) {
        min-width: 200px;
        height: 213px;
    }
}

#rhielMedsen_content_wrapper {
    @include for-size(tablet-landscape) {
        padding-top: 8rem;
        padding-left: 2rem;
    }
}

#owners_small_titles_wrapper {
    @include for-size(tablet-portrait) {
        margin-top: 3rem;
        margin-bottom: 10rem;
    }
}

.images_names_text {
    @include for-size(tablet-portrait) {
        scale: 0.7;
    }
}

#rhiel_text {
    @include for-size(tablet-portrait) {
        padding-right: 1rem;
    }
}

#arielKenter_name_text_container {
    padding-left: 0;
}

#galleryBigger_img  {
    width: 370px;
    height: 550px;
    @include for-size(big-desktop) {
        width: 270px;
        height: 450px;
    }
}

#galleryBigger_img_wrapper {
    @include for-size(tablet-landscape) {
        width: 53%;
        margin-right: 0;
    }
    @include for-size(tablet-portrait) {
        width: 100%;
        padding-left: 5rem;
    }
}

#gallery_right_image_content_wrapper {
    @include for-size(tablet-landscape) {
        flex-direction: column;
        align-items: flex-start;
        span {
            padding-left: 0;
            padding-top: 1rem;
        }
    }
}

#gallery_right_paragraph {
    @include for-size(tablet-landscape) {
        max-width: 230px;
    }
}

#gallery_rotate_text {
    left: -10rem;
    bottom: 10.2rem;
    @include for-size(tablet-landscape) {
        bottom: 17.8rem;
    }
    @include for-size(tablet-portrait) {
        bottom: 7rem;
    }
}

#gallery_wrapper {
    @include for-size(tablet-portrait) {
        flex-direction: column;
    }
}

#gallery_right_wrapper {
    @include for-size(tablet-portrait) {
        padding-left: 2.5rem;
        padding-top: 3rem;
    }
}

#gallery_right_content_wrapper {
    @include for-size(tablet-portrait) {
        padding-top:1.5rem;
    }
}